{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {{ dump(records) }}
    <table border="1">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Edad</th>
        </tr>
        </thead>
        {% for r in records %}
            <tr{% if r.age < 18 %} style="background-color: #aacd4e" {% endif %}>
                <td>{{ r.firstName | capitalize }}</td>
                <td>{{ r.lastName | capitalize }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.age }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay nada para mostrar</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}